<app-header></app-header>
    
<p>{{data.forms[0].name}}</p>

<section class="containerPost">

    <div>

        <div class="containerPost">
            <h1>POST</h1>
        </div>

        <div class="containerInput" style="display: flex; gap: 1em;">
            <input type="text" id="value"> <button type="button" (click)="submit()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">submit</button>
        </div>
    

</div>

</section>

